.category-input input.form-control {
    /* Add your desired styles here */
    border: 2px solid #007bff; /* Blue border */
    border-radius: 5px; /* Rounded corners */
    padding: 8px; /* Add some padding */
  }
  
  .category-input label {
    /* Customize label styles here if needed */
    font-weight: bold;
    color: #007bff;
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style for the "Select Category" button */
  .btn-primary {
    /* Add your desired styles here */
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Optional: Increase the button's size */
  .btn-primary.btn-lg {
    padding: 12px 24px;
  }

  .search-container {
    position: relative;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-list li {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .dropdown-list li:hover {
    background-color: #f2f2f2;
  }
  
  .no-results {
    text-align: center;
    color: #999;
    margin: 8px 0;
  }
  
  
  .scrollable-container {
    max-height: 500px; /* Adjust the height as needed */
    overflow-y: auto;
  }

  .code-filter-results {
    position: absolute;
    z-index: 1000; /* Adjust the z-index as needed */
    background-color: white; /* Adjust the background color as needed */
    border: 1px solid #ccc; /* Add a border for styling */
    width: 100%; /* Adjust the width as needed */
    max-height: 200px; /* Adjust the max height as needed */
    overflow-y: auto; /* Enable vertical scrolling if necessary */
  }

  .search-container {
    position: relative;
    display: inline-block; /* Make the container inline */
  }