
<div class="row justify-content-center">
  <div class="col-md-4 register-user">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="obsForm" (ngSubmit)="onSubmit()">
      
        <div class="mb-3">
          <label for="inputSubjectReference"> <strong>{{ 'subjectReference' | translate }}</strong> </label>
          <input class="form-control" type="text" formControlName="subjectReference" [disabled]="true" />
        </div>

        <div class="mb-3">
          <label for="inputSubjectDisplay"> <strong>{{ 'subjectDisplay' | translate }}</strong> </label>
          <input class="form-control" type="text" formControlName="subjectDisplay" [disabled]="true"  />
        </div>

        <div *ngIf="isEdit" class="mb-3">
          <label for="inputObservationDisplay"> <strong>{{ 'objectIDDisplay' | translate }}</strong></label>
          <input class="form-control" type="text" formControlName="observationID" [disabled]="true"  />
        </div>

        <div class="mb-3">
              <label for="inputStatus"><strong>{{ 'statusRequired' | translate }}</strong></label>
              <select class="form-control" formControlName="status">
                <option value="registered">{{ 'reg' | translate }}</option>
                <option value="preliminary">{{ 'pre' | translate }}</option>
                <option value="final">{{ 'final' | translate }}</option>
                <option value="amended">{{ 'amended' | translate }}</option>
              </select>
              <!-- error -->
              <div
                class="text-danger"
                *ngIf="submitted && myForm['status'].errors?.['required']"
              >
                {{ 'statusISRequired' | translate }}
              </div>
        </div>

        <div class="mb-3">
          <label for="inputCode"></label>
          <div>
            <div class="mb-3 search-container">
              <label for="codeFilter" class="mb-0 align-self-center" style="width: 120px;"><strong>{{'codeFilter' | translate}}</strong></label>
              <input type="text" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" (input)="onSearchChange()" (click)="onSearchBoxClick()" (blur)="clearSearch()" placeholder="{{'codeSearch' | translate}}">
              
              <ul *ngIf="showResults && filterList.length > 0" class="dropdown-list scrollable-container code-filter-results">
                <ng-container *ngFor="let observation of filterList">
                  <ng-container *ngFor="let temp of observation.resource.compose.include">
                    <ng-container *ngFor="let concept of observation.resource.compose.include[0].concept">
                      <li (mousedown)="selectValue(getConceptValue(concept), concept.code, temp.system, $event)">
                        <p><strong>Display:</strong> {{ getConceptValue(concept) }}</p>
                        <p><strong>Code:</strong> {{ concept.code }}</p>
                      </li>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ul>

              <!-- error -->
              <div class="text-danger" *ngIf="submitted && myForm['codeCode'].errors?.['required']">
                {{'codeISRequired'| translate}}
              </div>
            </div>
            
          </div>
      </div><br>

        <div class="mb-3 text-center">
          <label></label>
          <!-- Change the input to a button -->
          <button class="btn btn-primary" type="button" (click)="toggleCategoryInputs()">{{'catAdd' | translate}}</button>
          
          <!-- New input boxes that will appear on button click -->
          <div *ngIf="showInputs">

            <!-- Category System Input -->
            <div class="mb-3 category-input">
              <label for="inputCategoryDisplay">{{'catSystm'| translate}}</label>
              <input class="form-control" type="text" formControlName="categorySystem" />
            </div>

            <!-- Category Code Input -->
            <div class="mb-3 category-input">
              <label for="inputCategoryCode">{{'catCode' | translate}}</label>
              <input class="form-control" type="text" formControlName="categoryCode" />
            </div>
        
            <!-- Category Display Input -->
            <div class="mb-3 category-input">
              <label for="inputCategoryDisplay">{{'catDisp' | translate}}</label>
              <input class="form-control" type="text" formControlName="categoryDisplay" />
            </div>

          </div>
        </div>

        <div class="mb-3 text-center">
          <label></label>
          <div>
            <button class="btn btn-primary" type="button" (click)="showEffective()">{{'effectiveAdd' | translate}}</button>
          </div>
          <!-- Show the radio buttons when the button is clicked -->
          <div *ngIf="showEffectiveInputs">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="effectiveType" [checked]="effectiveType === 'dateTime'" (click)="onEffectiveTypeChange('dateTime')"> {{'effDateTime' | translate}}
            </label>
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="effectiveType" [checked]="effectiveType === 'period'" (click)="onEffectiveTypeChange('period')"> {{'effPeriod' | translate}}
            </label>
            <!-- Show the inputs based on the selected effective type -->
            <div *ngIf="effectiveType === 'dateTime'">
              <div class="mb-3">
                <label for="inputEffectiveDateTime">{{'effDate' | translate}}</label>
                <input class="form-control" type="datetime-local" formControlName="effectiveDateTime" />
              </div>
            </div>
            <div *ngIf="effectiveType === 'period'">
              <div class="mb-3">
                <label for="inputEffectivePeriodStart">{{'effStart' | translate}}</label>
                <input class="form-control" type="datetime-local" formControlName="effectivePeriodStart" />
              </div>
              <div class="mb-3">
                <label for="inputEffectivePeriodEnd">{{'effEnd' | translate}}</label>
                <input class="form-control" type="datetime-local" formControlName="effectivePeriodEnd" />
              </div>
            </div>
          </div>
        </div>


        <div class="mb-3 text-center">
          <label></label>
          <div>
            <button class="btn btn-primary" type="button" (click)="showValue()">{{'valueAdd'| translate}}</button>
          </div>
          <!-- Show the radio buttons and input fields when the button is clicked -->
          <div *ngIf="showValueInputs">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="valueType" [checked]="selectedValueType === 'boolean'" (click)="onValueTypeChange('boolean')"> {{'valB'| translate}}
            </label>
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="valueType" [checked]="selectedValueType === 'string'" (click)="onValueTypeChange('string')"> {{'valS'| translate}}
            </label>
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="valueType" [checked]="selectedValueType === 'quantity'" (click)="onValueTypeChange('quantity')"> {{'valQ' | translate}}
            </label>
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="valueType" [checked]="selectedValueType === 'CodeableConcept'" (click)="onValueTypeChange('CodeableConcept')"> {{'valC'| translate}}
            </label>
            <!-- Show the input fields based on the selected value type -->
            <div *ngIf="selectedValueType === 'boolean'">
              <div class="mb-3">
                <label for="inputBooleanValue"> {{'bVal' | translate}}</label>
                <select class="form-control" formControlName="booleanValue">
                  <option value="true">{{'true'| translate}}</option>
                  <option value="false">{{'false' | translate}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="selectedValueType === 'string'">
              <div class="mb-3">
                <label for="inputStringValue">{{'sVal' | translate}}</label>
                <input class="form-control" type="text" formControlName="stringValue" />
              </div>
            </div>
            <div *ngIf="selectedValueType === 'quantity'">
              <div class="mb-3">
                <label for="inputNumericValue">{{'qVal' | translate}}</label>
                <input class="form-control" type="number" formControlName="numericValue" />
              </div>
              <div class="mb-3">
                <label for="inputUnit">{{'qUnit' | translate}}</label>
                <input class="form-control" type="text" formControlName="unit" />
              </div>
              <div class="mb-3">
                <label for="inputSystem">{{'qSystem'| translate}}</label>
                <input class="form-control" type="text" formControlName="system" />
              </div>
              <div class="mb-3">
                <label for="inputCode">{{'qCode' | translate }}</label>
                <input class="form-control" type="text" formControlName="code" />
              </div>
            </div>
            <div *ngIf="selectedValueType === 'CodeableConcept'">
              <div class="mb-3">
                <label for="inputNumericValue">{{'cCode'| translate}}</label>
                <input class="form-control" type="text" formControlName="codeableCode" />
              </div>
              <div class="mb-3">
                <label for="inputUnit">{{'cSystem' | translate}}</label>
                <input class="form-control" type="text" formControlName="codeableSystem" />
              </div>
              <div class="mb-3">
                <label for="inputSystem">{{'cDisplay' | translate}}</label>
                <input class="form-control" type="text" formControlName="codeableDisplay" />
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3 text-center">
          <label></label>
          <div>
            <button class="btn btn-primary" type="button" (click)="toggleInterpretationInputs()">{{'intAdd'| translate}}</button>
          </div>
          <!-- Show the interpretation input fields when the button is clicked -->
          <div *ngIf="showInterpretationInputs">
            <div class="mb-3">
              <label for="inputInterpretationSystem">{{'intS' | translate}}</label>
              <input class="form-control" type="text" formControlName="interpretationSystem" />
            </div>
            <div class="mb-3">
              <label for="inputInterpretationDisplay">{{'intD' | translate}}</label>
              <input class="form-control" type="text" formControlName="interpretationDisplay" />
            </div>
            <div class="mb-3">
              <label for="inputInterpretationCode">{{'intC' | translate}}</label>
              <input class="form-control" type="text" formControlName="interpretationCode" />
            </div>
          </div>
        </div>
          

        <div class="mb-3 text-center">
          <label></label>
          <div>
            <button class="btn btn-primary" type="button" (click)="toggleReferenceRangeInputs()">{{'refAdd' | translate}}</button>
          </div>
          <!-- Show the reference range input fields when the button is clicked -->
          <div *ngIf="showReferenceRangeInputs">
            <div class="mb-3">
              <label for="inputValueLow">{{'refVL'| translate}}</label>
              <input class="form-control" type="number" formControlName="valueLow" />
            </div>
            <div class="mb-3">
              <label for="inputValueHigh">{{'refVH' | translate }}</label>
              <input class="form-control" type="number" formControlName="valueHigh" />
            </div>
            <div class="mb-3">
              <label for="inputReferenceRangeSystem">{{'refS' | translate}}</label>
              <input class="form-control" type="text" formControlName="referenceRangeSystem" />
            </div>
            <div class="mb-3">
              <label for="inputReferenceRangeCode">{{'refC' | translate}}</label>
              <input class="form-control" type="text" formControlName="referenceRangeCode" />
            </div>
          </div>
        </div><br>

        <div *ngIf="!isEdit" class="d-grid">
          <button class="btn btn-primary btn-block" type="button" (click)="onSubmit()">
            {{'addObs' | translate}}
          </button>
        </div>

        <div *ngIf="isEdit" class="d-grid">
          <button class="btn btn-primary btn-block" type="button" (click)="onSubmit()">
            {{'updObs'| translate}}
          </button>
        </div>

      </form>
    </div>
  </div>
  <!-- form card register -->
</div>
