<!-- LANGUAGE SECTION -->
<div class="language-container">
  <div class="language-flags">
    <img src="assets/uk.png" alt="English Flag" (click)="changeLanguage('en')" [class.selected]="selectedLanguage === 'en'">
    <img src="assets/fr.png" alt="French Flag" (click)="changeLanguage('fr')" [class.selected]="selectedLanguage === 'fr'">
    <img src="assets/tr.png" alt="Turkish Flag" (click)="changeLanguage('tr')" [class.selected]="selectedLanguage === 'tr'">
    <img src="assets/de.png" alt="German Flag" (click)="changeLanguage('de')" [class.selected]="selectedLanguage === 'de'">
    <img src="assets/es.png" alt="Spanis Flag" (click)="changeLanguage('es')" [class.selected]="selectedLanguage === 'es'">
  </div>
</div>

<!-- PATIENT INFO SECTION -->
<div class="patient-info">
  <h4>{{'patient' | translate}} <strong>{{patientName}}</strong></h4>
  <h4>{{'patientID' | translate}} <strong>{{patientID}}</strong></h4>
</div>

<div class="d-flex justify-content-center mt-4">
  <button class="btn btn-xl btn-outline-success btn-lg me-2" type="button" routerLinkActive="active" routerLink="edit"
  >
  {{'createObservation' | translate}}
  </button>
</div> <br>

<!-- FILTER SECTION -->
<div class="d-flex flex-column">
  <!-- Status Filter -->
  <div class="form-group mb-0 d-flex align-items-center position-relative mr-3"> <!-- Added mr-3 for right margin -->
    <label for="statusFilter" class="mb-0 align-self-center" style="width: 120px;"> <strong> {{'statusFilter' | translate}} </strong> </label>
    <select id="statusFilter" class="form-control" [(ngModel)]="filterStatus" (change)="applyStatusFilter()">
      <option [value]="null" disabled>{{'selectStatus' | translate}}</option>
      <option value="">{{'nofilter' | translate}}</option>
      <option value="registered">{{'reg' | translate}}</option>
      <option value="preliminary">{{'pre' | translate}}</option>
      <option value="final">{{'final' | translate}}</option>
      <option value="amended">{{'amended' | translate}}</option>
    </select>
    <span class="arrow-down position-absolute"></span>
  </div> <br>

  
  <!-- Date Filters -->
  <div class="form-group mb-0 d-flex align-items-center position-relative">
    <label for="startDate" class="mb-0 align-self-center" style="width: 120px;"> <strong>{{'startDate' | translate}}</strong> </label>
    <input type="date" id="startDate" class="form-control me-3" [(ngModel)]="date1" >
    <label for="endDate" class="mb-0 align-self-center" style="width: 100px;"> <strong>{{'endDate'| translate}}</strong> </label>
    <input type="date" id="endDate" class="form-control" [(ngModel)]="date2" >

    <button class="btn btn-outline-secondary btn-sm" (click)="applyDateFilter()">{{'filterBtn'| translate}}</button> <!-- Apply Filter Button -->
    <button class="btn btn-outline-secondary btn-sm" (click)="clearDates()">{{'clearFilterBtn' | translate}}</button> <!-- Date Clear Button -->
  </div> <br>


  <!-- Code Filter -->
  <div class="search-container d-flex align-items-center position-relative">

    <label for="codeFilter" class="mb-0 align-self-center" style="width: 120px;"><strong> {{'codeFilter' | translate}}</strong></label>

    <input type="text" [(ngModel)]="searchTerm" (input)="onSearchChange()" (click)="onSearchBoxClick()" (blur)="clearSearch()"  placeholder="{{'codeSearch' | translate}}">
    
    <button class="btn btn-outline-secondary btn-sm" (click)="applyCodeFilter()">{{'filterBtn' | translate}}</button> <!-- Apply Filter Button -->
    <button class="btn btn-outline-secondary btn-sm" (click)="clearNoFilter()">{{'clearFilterBtn' | translate}}</button> <!-- Code Clear Button -->
  
    <ul *ngIf="showResults && filterList.length > 0" class="dropdown-list scrollable-container">
      <ng-container *ngFor="let observation of filterList">
        <ng-container *ngFor="let concept of observation.resource.compose.include[0].concept">
          <li (mousedown)="selectValue(getConceptValue(concept), concept.code, $event)">
            <p><strong>Display:</strong> {{ getConceptValue(concept) }}</p>
            <p><strong>Code:</strong> {{ concept.code }}</p>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</div> 

<h4 class="display-4">{{'observation'| translate}}</h4>
<div class="table-responsive">
  <table *ngIf="totalPageNumber!==0" class="table table-bordered table-striped ">
    <thead class="table-success">
    <tr>
      <th scope="col">{{ 'observationId' | translate }}</th>
      <th scope="col">{{ 'status' | translate }}</th>
      <th scope="col">{{ 'code' | translate }}</th>
      <th scope="col">{{ 'category' | translate }}</th>
      <th scope="col">{{ 'value' | translate }}</th>
      <th (click)="sort('effectiveDateTime')" scope="col" [ngClass]="{'clicked': isEffectiveDateTimeClicked}">
        {{ 'effective' | translate }}
        <span *ngIf="isEffectiveDateTimeClicked" class="sort-arrow up"></span>
        <span *ngIf="!isEffectiveDateTimeClicked" class="sort-arrow down"></span>
      </th>
      <th scope="col center">{{ 'operations' | translate }}</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let obs of observations ; let i = index" >
      
      <td scope="row" >{{obs.id}}</td>
      <td>{{obs.status}}</td>
      <td> 
        <div>
          <strong>Code:</strong> {{obs.code.coding?.at(0)?.code}} <br>
          <strong>Display:</strong> {{obs.code.coding?.at(0)?.display}} 
        </div>    
      </td>
      <td>
        <div>
          <strong>Code:</strong> {{obs.category?.at(0)?.coding?.at(0)?.code || "--"}} <br>
          <strong>Display:</strong> {{obs.category?.at(0)?.coding?.at(0)?.display || "--" }} 
        </div>
      </td>
      <td>{{obs.valueString}}  {{obs.valueBoolean}}  {{obs.valueQuantity?.value}} {{obs.valueQuantity?.unit}}  {{obs.valueCodeableConcept?.coding?.at(0)?.display}}  </td>
      <td>
        {{ (obs.effectiveDateTime | date:'medium' : 'UTC')  || ( (obs.effectivePeriod?.start | date:'medium' : 'UTC') + "--" + (  obs.effectivePeriod?.end | date:'medium' : 'UTC') )}} 
      </td>
      
      <td class="text-center">
        <span class="edit"  routerLinkActive="active"  [routerLink]="['edit/', obs.id]">
          <button type="button" class="btn btn-success btn-sm">{{'editBtn'| translate }}</button>
        </span>
        <span class="delete" (click)="removeObservation(obs.id, i)">
          <button type="button" class="btn btn-danger btn-sm">{{'deleteBtn' | translate }}</button>
        </span>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center align-items-center mt-4" *ngIf="totalPageNumber === 0">
    <strong>{{ 'noresult' | translate }}</strong>
  </div>

  <div *ngIf="totalPageNumber!==0" class="page-changer">
    <button class="page-button" (click)="changePage(currentPage-1)" [disabled]="currentPage === 1"> &lt;&lt;{{ 'prevPage' | translate }}</button>
    <span class="page-info">{{ 'page' | translate }} {{ currentPage }} / {{ totalPageNumber }}</span>
    <button class="page-button" (click)="changePage(currentPage+1)" [disabled]="currentPage ===totalPageNumber"> &gt;&gt;{{ 'nextPage' | translate }}</button>
  </div>

</div>




