<div class="position-relative" style="height: 100vh">
  <div class="position-absolute top-50 start-50 translate-middle text-center">
    <h5 class="display-5">FHIR Resource Editor</h5>
    <button class="btn btn-primary btn-lg" (click)="login()">Login</button>
  </div>
</div>
