<!-- LANGUAGE SECTION -->
<div class="language-container">
  <div class="language-flags">
    <img src="assets/uk.png" alt="English Flag" (click)="changeLanguage('en')" [class.selected]="selectedLanguage === 'en'">
    <img src="assets/fr.png" alt="French Flag" (click)="changeLanguage('fr')" [class.selected]="selectedLanguage === 'fr'">
    <img src="assets/tr.png" alt="Turkish Flag" (click)="changeLanguage('tr')" [class.selected]="selectedLanguage === 'tr'">
    <img src="assets/de.png" alt="German Flag" (click)="changeLanguage('de')" [class.selected]="selectedLanguage === 'de'">
    <img src="assets/es.png" alt="Spanis Flag" (click)="changeLanguage('es')" [class.selected]="selectedLanguage === 'es'">
  </div>
</div>

<div class="patient-info">
    <h4>{{ 'patient' | translate }} <strong>{{patientName}}</strong></h4>
    <h4>{{ 'patientID' | translate }} <strong>{{patientID}}</strong></h4>
</div>

<div class="d-flex justify-content-center mt-4">
    <button class="btn btn-xl btn-outline-success btn-lg me-2" type="button" routerLinkActive="active" routerLink="edit"
    >
    {{ 'createFMH' | translate }}
    </button>
</div>

<!-- SPACE -->
<div style="margin-top: 20px;"></div>

<!-- FILTER SECTION -->
<div class="d-flex flex-column">

  <!-- Status Filter -->
  <div class="form-group mb-0 d-flex align-items-center position-relative mr-3">
    <label for="statusFilter" class="mb-0 align-self-center" style="width: 120px;"><strong>{{ 'statusFilter' | translate }}</strong></label>
    <select id="statusFilter" class="form-control" [(ngModel)]="filterStatus" (change)="applyStatusFilter()">
      <option [value]="null" disabled>{{ 'selectStatus' | translate }}</option>
      <option value="">{{ 'nofilter' | translate }}</option>
      <option value="partial">{{ 'partial' | translate }}</option>
      <option value="completed">{{ 'completed' | translate}}</option>
      <option value="entered-in-error">{{ 'enteredInError' | translate }}</option>
      <option value="health-unknown">{{ 'healthUnknown' | translate }}</option>
    </select>
    <span class="arrow-down position-absolute"></span>
  </div>
  
  <!-- SPACE -->
  <div style="margin-top: 20px;"></div>

  <!-- Date Filter -->
  <div class="form-group mb-0 d-flex align-items-center position-relative">
    <label for="startDate" class="mb-0 align-self-center" style="width: 120px;"> <strong>{{ 'startDate' | translate }}</strong> </label>
    <input type="date" id="startDate" class="form-control me-3" [(ngModel)]="dateStart" >
    <label for="endDate" class="mb-0 align-self-center" style="width: 100px;"> <strong>{{ 'endDate' | translate }}</strong> </label>
    <input type="date" id="endDate" class="form-control" [(ngModel)]="dateEnd" >

    <button class="btn btn-outline-secondary btn-sm" (click)="applyDateFilter()">{{ 'filterBtn' | translate }}</button> <!-- Apply Filter Button -->
    <button class="btn btn-outline-secondary btn-sm" (click)="clearDates()">{{ 'clearFilterBtn' | translate }}</button> <!-- Date Clear Button -->
  </div>

  <!-- SPACE -->
  <div style="margin-top: 20px;"></div>

  <!-- Condition Filter -->
  <div class="search-container d-flex align-items-center position-relative">

    <label for="codeFilter" class="mb-0 align-self-center" style="width: 120px;"><strong> {{ 'conditionFilter'| translate }}</strong></label>

    <input type="text" [(ngModel)]="searchTerm" (input)="onSearchChange()" (click)="onSearchBoxClick()" (blur)="clearSearch()"  placeholder="{{'conditionSearch' | translate}}">
    
    <button class="btn btn-outline-secondary btn-sm" (click)="applyConditionFilter()">{{ 'filterBtn' | translate }}</button> <!-- Apply Filter Button -->
    <button class="btn btn-outline-secondary btn-sm" (click)="clearNoFilter()">{{ 'clearFilterBtn' | translate }}</button> <!-- Code Clear Button -->
  
    <ul *ngIf="showResults && filterList.length > 0" class="dropdown-list scrollable-container">
      <ng-container *ngFor="let fmh of filterList">
        <ng-container *ngFor="let concept of fmh.resource.compose.include[0].concept">
          <li (mousedown)="selectValue(getConceptValue(concept), concept.code, $event)">
            <p><strong>Display:</strong> {{getConceptValue(concept)}}</p>
            <p><strong>Code:</strong> {{ concept.code }}</p>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>

</div>


<h4 class="display-4">{{ 'fmh' | translate }}</h4>
<div class="table-responsive">
  <table *ngIf="totalPageNumber!==0" class="table table-bordered table-striped ">
    <thead class="table-success">
    <tr>
      <th scope="col"> {{ 'fhmId' | translate }}</th>

      <th scope="col">{{ 'status' | translate }}</th>

      <th scope="col">{{ 'relationship' | translate }}</th>

      <th scope="col">{{ 'condition' | translate }}</th>


      <th (click)="sort('date')" scope="col" [ngClass]="{'clicked': isDateClicked}">
        {{ 'date' | translate }}
        <span *ngIf="isDateClicked" class="sort-arrow up"></span>
        <span *ngIf="!isDateClicked" class="sort-arrow down"></span>
      </th>


      <th scope="col center">{{ 'operations' | translate }}</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hist of fmhistory ; let i = index" >
      
      <td scope="row" >{{hist.id}}</td>

      <td><strong>{{hist.status}}</strong></td>


      <td>{{hist.relationship.coding?.at(0)?.code}}</td>

      <td>{{hist.condition?.at(0)?.code?.coding?.at(0)?.display}}</td>

      <td>
        {{ (hist.date | date:'medium' : 'UTC')}} 
      </td>
      
      
      <td class="text-center">

        <span class="edit"  routerLinkActive="active"  [routerLink]="['edit/',hist.id]">
          <button type="button" class="btn btn-success btn-sm">{{ 'editBtn' | translate }}</button>
        </span>

        <span class="delete" (click)="removeFMH(hist.id, i)">
          <button type="button" class="btn btn-danger btn-sm">{{ 'deleteBtn' | translate }}</button>
        </span>
      
      </td>

    </tr>
    </tbody>
  </table>


  <div class="d-flex justify-content-center align-items-center mt-4" *ngIf="totalPageNumber === 0">
    <strong>{{ 'noresult' | translate }}</strong>
  </div>


  <div *ngIf="totalPageNumber!==0" class="page-changer">
    <button class="page-button" (click)="changePage(currentPage-1)" [disabled]="currentPage === 1"> &lt;&lt;{{ 'prevPage' | translate }}</button>
    <span class="page-info">{{ 'page' | translate }} {{ currentPage }} / {{ totalPageNumber }}</span>
    <button class="page-button" (click)="changePage(currentPage+1)" [disabled]="currentPage ===totalPageNumber"> &gt;&gt;{{'nextPage' | translate }}</button>
  </div>

</div>