.page-changer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .page-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }
  
  .page-button:hover {
    background-color: #0056b3;
  }
  
  .page-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .page-info {
    font-size: 18px;
    margin: 0 15px;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Add space between the table and pagination-controls */
  .pagination-container {
    margin-top: 10px;
  }

  th.clicked {
    background-color: red; /* Set the background color when clicked */
    color: white; /* Set the text color when clicked (optional) */
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable (optional) */
  }

  // list css
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #555; /* You can adjust the color as desired */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  
  .sort-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border: 4px solid transparent;
  }
  
  .sort-arrow.up {
    border-bottom-color: #000; /* Change arrow color if needed */
  }
  
  .sort-arrow.down {
    border-top-color: #000; /* Change arrow color if needed */
  }

  input[type="text"] {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-list li {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .dropdown-list li:hover {
    background-color: #f2f2f2;
  }
  
  .no-results {
    text-align: center;
    color: #999;
    margin: 8px 0;
  }
  
  
  .scrollable-container {
    max-height: 500px; /* Adjust the height as needed */
    overflow-y: auto;
  }

  .language-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: flex-end; /* Shift the flags to the right */
  }
  
  .language-flags {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .language-flags img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
  }
  
  .language-flags img.selected {
    border-color: #007bff;
  }