<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ 'addGoal' | translate }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="mt-3">{{ 'addGoal' | translate }}</h1>
    <form [formGroup]="addgoalForm" (ngSubmit)="onSubmit()">
      <div class="target-measure-group" *ngIf="!disabledCategory">
      <div class="form-group" *ngIf="!disabledCategory">
        <label for="categorySystem">{{ 'categorySystem' | translate }}</label>
        <input type="text" class="form-control" id="categorySystem" formControlName="categorySystem">
      </div>
      <div class="form-group" *ngIf="!disabledCategory">
        <label for="categoryCode">{{ 'categoryCode' | translate }}</label>
        <input type="text" class="form-control" id="categoryCode" formControlName="categoryCode">
      </div>
    </div>
      <button class="btn btn-primary btn-block" type="button" (click)="enableCategory()">{{ categoryButtonText | translate }}</button>
      <div class="target-measure-group">
      <div class="form-group">
        <label for="descriptionSystem">{{ 'descriptionSystem' | translate }}</label>
        <input type="text" class="form-control" id="descriptionSystem" formControlName="descriptionSystem">
      </div>
      <div class="form-group">
        <label for="descriptionCode">{{ 'descriptionCode' | translate }}</label>
        <input type="text" class="form-control" id="descriptionCode" formControlName="descriptionCode">
      </div>
      <div class="form-group">
        <label for="descriptionDisplay">{{ 'descriptionDisplay' | translate }}</label>
        <input type="text" class="form-control" id="descriptionDisplay" formControlName="descriptionDisplay">
      </div>
      <div class="form-group">
        <label for="descriptionText">{{ 'descriptionText' | translate }}</label>
        <input type="text" class="form-control" id="descriptionText" formControlName="descriptionText">
      </div>
    </div>
      <div class="form-group">
        <label for="lifeCycleStatus">{{ 'lifeCycleStatus' | translate }}</label>
        <select class="form-control" id="lifeCycleStatus" formControlName="lifeCycleStatus">
          <option value="">{{ 'selectStatus' | translate }}</option>
          <option value="proposed">{{ 'proposed' | translate }}</option>
          <option value="planned">{{ 'planned' | translate }}</option>
          <option value="accepted">{{ 'accepted' | translate }}</option>
          <option value="active">{{ 'active' | translate }}</option>
          <option value="on-hold">{{ 'onHold' | translate }}</option>
          <option value="completed">{{ 'completed' | translate }}</option>
          <option value="cancelled">{{ 'cancelled' | translate }}</option>
          <option value="entered-in-error">{{ 'enteredInError' | translate }}</option>
          <option value="rejected">{{ 'rejected' | translate }}</option>
        </select>
      </div>      
      <div class="target-measure-group">
      <div class="form-group">
        <label for="targetValue">{{ 'targetValueHigh' | translate }}</label>
        <input type="number" class="form-control" id="targetValue" formControlName="targetValue">
      </div>
      <div class="form-group">
        <label for="targetValueLow">{{ 'targetValueLow' | translate }}</label>
        <input type="number" class="form-control" id="targetValueLow" formControlName="targetValueLow">
      </div>
      <div class="form-group">
        <label for="targetUnit">{{ 'targetUnit' | translate }}</label>
        <input type="text" class="form-control" id="targetUnit" formControlName="targetUnit">
      </div>
      <div class="form-group">
        <label for="targetSystem">{{ 'targetSystem' | translate }}</label>
        <input type="text" class="form-control" id="targetSystem" formControlName="targetSystem">
      </div>
      <div class="form-group">
        <label for="targetCode">{{ 'targetCode' | translate }}</label>
        <input type="text" class="form-control" id="targetCode" formControlName="targetCode">
      </div>
      <div class="form-group">
        <label for="targetDuedate">{{ 'targetDueDate' | translate }}</label>
        <input type="date" class="form-control" id="targetDuedate" formControlName="targetDuedate">
      </div>
      <div class="form-group">
        <label for="measureDisplay">{{ 'measureDisplay' | translate }}</label>
        <input type="text" class="form-control" id="measureDisplay" formControlName="measureDisplay" [(ngModel)]="targetString" (input)="onInputChange()" (focus)="onInputChange()" (blur)="closeTypeahead()">
      </div>
      <div class="dropdown relative-position" *ngIf="completions.length > 0">
        <ul class="dropdown-menu dropdown-menu2 show">
          <li class="dropdown-item" *ngFor="let completion of completions" (click)="selectCompletion(completion)" >
            {{ completion }}
          </li>
        </ul>
      </div> 
      <div class="form-group">
        <label for="measureSystem">{{'measureSystem' | translate}}</label>
        <input type="text" class="form-control" id="measureSystem" formControlName="measureSystem" [(ngModel)]="targetSystem">
      </div>
      <div class="form-group">
        <label for="measureCode">{{'measureCode' | translate}}</label>
        <input type="text" class="form-control" id="measureCode" formControlName="measureCode" [(ngModel)]="targetCode">
      </div> 
    </div>
    <div *ngIf="targetAdded">
      <div class="target-measure-group">
        <div class="form-group">
          <label for="target2Value">{{ 'target2ValueHigh' | translate }}</label>
          <input type="number" class="form-control" id="target2Value" formControlName="target2Value">
        </div>
        <div class="form-group">
          <label for="target2ValueLow">{{ 'target2ValueLow' | translate }}</label>
          <input type="number" class="form-control" id="target2ValueLow" formControlName="target2ValueLow">
        </div>
        <div class="form-group">
          <label for="target2Unit">{{ 'target2Unit' | translate }}</label>
          <input type="text" class="form-control" id="target2Unit" formControlName="target2Unit">
        </div>
        <div class="form-group">
          <label for="target2System">{{ 'target2System' | translate }}</label>
          <input type="text" class="form-control" id="target2System" formControlName="target2System">
        </div>
        <div class="form-group">
          <label for="target2Code">{{ 'target2Code' | translate }}</label>
          <input type="text" class="form-control" id="target2Code" formControlName="target2Code">
        </div>
        <div class="form-group">
          <label for="target2Duedate">{{ 'target2DueDate' | translate }}</label>
          <input type="date" class="form-control" id="target2Duedate" formControlName="target2Duedate">
        </div>
        <div class="form-group">
          <label for="measure2System">{{'measure2System' | translate}}</label>
          <input type="text" class="form-control" id="measure2System" formControlName="measure2System">
        </div>
        <div class="form-group">
          <label for="measure2Code">{{'measure2Code' | translate}}</label>
          <input type="text" class="form-control" id="measure2Code" formControlName="measure2Code">
        </div>
        <div class="form-group">
          <label for="measure2Display">{{ 'measure2Display' | translate }}</label>
          <input type="text" class="form-control" id="measure2Display" formControlName="measure2Display">
        </div>
      </div>
    </div>
      <button class="btn btn-primary btn-block" type="button" (click)="addTarget()">{{ addTargetString | translate }}</button>
      <button type="submit" class="btn btn-primary btn-block">{{ updateModeString | translate }}</button>
      <div *ngIf="showSuccessMessage" class="alert alert-success mt-3">
        {{ 'goalSubmittedSuccessfully' | translate}}
      </div>
    </form>    
  </div>
</body>
