<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointments</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="mt-3">Appointments</h1>
    <div class="mb-3">
      <button class="btn btn-primary btn-block" (click)="addAppointment()">{{'addAppointment' | translate}}</button>
    </div> 
    <div class="mb-3">
      <select class="form-control" [(ngModel)]="selectedSortOption" (change)="getAppointments()">
        <option value="" disabled selected>{{ 'sortBy' | translate }}</option>
        <option value="date">{{ 'sortByDate' | translate }}</option>
        <option value="appointment-type">{{ 'appointmentType' | translate }}</option>
      </select>
      <div class = "border-group">
      <div class="form-group">
        <label for="searchStartDate">{{ 'startDate' | translate }}</label>
        <input type="date" class="form-control" id="searchStartDate" [(ngModel)]="searchStartDate">
      </div>
      <div class="form-group">
        <label for="searchEndDate">{{ 'endDate' | translate }}</label>
        <input type="date" class="form-control" id="searchEndDate" [(ngModel)]="searchEndDate">
      </div>
      <div class="form-group">
        <button class="btn btn-outline-secondary" type="button" (click)="getAppointments()">{{ 'filter' | translate }}</button>
      </div>
    </div>
    </div>
    <button class="btn btn-outline-secondary" type="button" (click)="clearFilters()">{{ 'clearFilters' | translate }}</button>
    <div class="table-responsive mt-3">
      <table class="table table-bordered table-striped table-hover table-resizable table-lg">
        <thead class="thead-dark">
          <tr>
            <th data-column-id="description" >{{ 'description' | translate }}</th>
            <th data-column-id="startDate" (click)="sortAppointments('start-date')" >{{ 'startDate' | translate }}</th>
            <th data-column-id="endDate">{{ 'endDate' | translate }}</th>
            <th data-column-id="patientStatus" >{{ 'patientStatus' | translate }}</th>
            <th data-column-id="doctorName" >{{ 'doctorName' | translate }}</th>
            <th data-column-id="doctorStatus" >{{ 'doctorStatus' | translate }}</th>
            <th data-column-id="status" >{{ 'status' | translate }}</th>
            <th data-column-id="actions" data-formatter="actions" data-sortable="false">{{ 'actions' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments">
            <td>{{ appointment.description }}</td>
            <td>{{ appointment.start | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ appointment.end | date:'dd/MM/yyyy HH:mm' }}</td>            
            <td>{{ appointment.participant.at(1)?.status }}</td>
            <td>{{ appointment.participant.at(0)?.actor?.display }}</td>
            <td>{{ appointment.participant.at(0)?.status }}</td>
            <td>{{ appointment.status }}</td>
            <td>
              <button class="btn btn-sm btn-primary mb-1" (click)="updateAppointment(appointment)">{{ 'update' | translate }}</button>
              <button class="btn btn-sm btn-danger" (click)="deleteAppointment(appointment.id!)">{{ 'delete' | translate }}</button>              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination-container mt-3">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="prevPage()">{{ 'previous' | translate }}</button>
        </li>
        <li class="page-item" *ngFor="let page of getPageNumbers()" [class.active]="currentPage === page">
          <button class="page-link" (click)="gotoPage(page)">{{ page }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="nextPage()">{{ 'next' | translate }}</button>
        </li>
      </ul>
    </div>
  </div>
</body>
