<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FHIR Goals</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="mt-3">FHIR Goals</h1>
    <div class="mb-3">
      <button class="btn btn-primary btn-block" (click)="addGoal()">{{'addGoal' | translate}}</button>
    </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" [placeholder]="'searchByTargetCode' | translate" [(ngModel)]="targetString" (input)="onInputChange()" (focus)="onInputChange()" (blur)="closeTypeahead()">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="getGoals()">{{ 'search' | translate }}</button>
        </div>
      </div>    
      <div class="dropdown" *ngIf="completions.length > 0" style="position: relative;">
        <ul class="dropdown-menu show">
          <li class="dropdown-item" *ngFor="let completion of completions" (click)="selectCompletion(completion)" >
            {{ completion }}
          </li>
        </ul>
      </div>  

    <div class="mb-3">
      <select class="form-control" [(ngModel)]="selectedSortOption" (change)="getGoals()">
        <option value="" disabled selected>{{ 'sortBy' | translate }}</option>
        <option value="category">{{ 'sortByCategory' | translate }}</option>
        <option value="start-date">{{ 'sortByDate' | translate }}</option>
      </select>
      <div class = "border-group">
      <div class="form-group">
        <label for="searchStartDate">{{ 'startDate' | translate }}</label>
        <input type="date" class="form-control" id="searchStartDate" [(ngModel)]="searchStartDate">
      </div>
      <div class="form-group">
        <label for="searchEndDate">{{ 'endDate' | translate }}</label>
        <input type="date" class="form-control" id="searchEndDate" [(ngModel)]="searchEndDate">
      </div>
      <div class="form-group">
        <button class="btn btn-outline-secondary" type="button" (click)="getGoals()">{{ 'filter' | translate }}</button>
      </div>
    </div>
    </div>
    <button class="btn btn-outline-secondary" type="button" (click)="clearFilters()">{{ 'clearFilters' | translate }}</button>
    <div class="table-responsive mt-3">
      <table class="table table-bordered table-striped table-hover table-resizable">
        <thead class="thead-dark">
          <tr>
            <th data-column-id="description">{{ 'description' | translate }}</th>
            <th data-column-id="lifecycle">{{ 'lifeCycleStatus' | translate }}</th>
            <th data-column-id="start" (click)="sortGoals('start-date')" >{{ 'startDate' | translate }}</th>
            <th data-column-id="duedate" >{{ 'dueDate' | translate }}</th>
            <th data-column-id="targetdefiniton" >{{ 'targetDefinition' | translate }}</th>
            <th data-column-id="targethigh" >{{ 'targetHigh' | translate }}</th>
            <th data-column-id="targetlow" >{{ 'targetLow' | translate }}</th>
            <th data-column-id="actions" >{{ 'actions' | translate }}</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let goal of goals">
            <td>{{ goal.description.coding?.at(0)?.display }}</td>
            <td>{{ goal.lifecycleStatus }}</td>
            <td>{{ goal.startDate }}</td>
            <td>
              <ul class="no-bullets">
                <li *ngFor="let target of goal.target">
                  {{ target.dueDate }}
                </li>
              </ul>
            </td>
            <td> {{goal.description.text}}</td>
            <td>
              <ul class="no-bullets">
                <li *ngFor="let target of goal.target">
                  {{ target.detailRange?.high?.value }} {{ target.detailRange?.high?.unit }}
                </li>
              </ul>
            </td>
            <td>
              <ul class="no-bullets">
                <li *ngFor="let target of goal.target">
                  {{ target.detailRange?.low?.value }} {{ target.detailRange?.low?.unit }}
                </li>
              </ul>
            </td>
            <td>
              <button class="btn btn-sm btn-primary mb-1" (click)="updateGoal(goal)">{{ 'update' | translate }}</button>
              <button class="btn btn-sm btn-danger" (click)="deleteGoal(goal.id!)">{{ 'delete' | translate }}</button>              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination-container mt-3">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="prevPage()">{{ 'previous' | translate }}</button>
        </li>
        <li class="page-item" *ngFor="let page of getPageNumbers()" [class.active]="currentPage === page">
          <button class="page-link" (click)="gotoPage(page)">{{ page }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="nextPage()">{{ 'next' | translate }}</button>
        </li>
      </ul>
    </div>
  </div>
</body>
