.cursor-pointer {
  cursor: pointer;
}
.search-container {
  position: relative;
}

input[type="text"] {
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-list li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f2f2f2;
}

.no-results {
  text-align: center;
  color: #999;
  margin: 8px 0;
}

.scrollable-container{
  max-height: 500px;
  overflow-y: auto
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.language-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
