<div class="d-flex align-items-center justify-content-between mb-3">
  <h4 class="display-4">{{"labelMedicationRequests" | translate}}</h4>
  <div class="language-container">
    <select id="languageSelect" class="form-select" [(ngModel)]="currentLanguage" (change)="onLanguageChange()">
      <option *ngFor="let option of languageOptions" [value]="option.language">{{ option.display }}</option>
    </select>
  </div>
</div>

<h4>{{"labelPatient" | translate}}: {{patientName}}</h4>
<div class="mb-3">
  <label for="filterMedication" class="form-label text-primary">{{"labelMedicationFilter" | translate}}:</label>
  <div class="search-container d-flex align-items-center justify-content-between">
    <input type="text" id="filterMedication" [(ngModel)]="query.medicationName" (focus)="initializeFilterList()"
           (blur)="closeMedicationFilterMode()" (input)="onSearchChange()"  placeholder="{{'noFilter' | translate}}"
           class="form-control">
    <ul *ngIf="filterList.length > 0 && medicationFilterMode" class="dropdown-list scrollable-container">
      <li *ngFor="let medication of filterList" (mousedown)="selectValue(medication.display, medication.code)">
        <p>{{ medication.display }}</p>
      </li>
    </ul>
    <!-- no result -->
    <p *ngIf="filterList.length === 0 && medicationFilterMode && query.medicationName.trim() !== ''" class="no-results">No results found.</p>
    <button type="button" class="btn btn-primary" (click)="applyMedicationFilter()">{{"buttonMedicationFilter" | translate}}</button>
    <button type="button" class="btn btn-primary" (click)="clearMedicationFilter()">{{"buttonClearMedicationFilter" | translate}}</button>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="filterStatus" class="form-label text-primary">{{"labelStatusFilter" | translate}}:</label>
      <select (change)="sendFilteredRequest()" id="filterStatus" class="form-control" [(ngModel)]="filters.filterStatus">
        <option value="">{{"showAll" | translate}}</option>
        <!-- Use *ngFor to loop through the keys and values of the statusSet object -->
        <option *ngFor="let status of valueSetsService.getStatusKeys()" [value]="status">{{ valueSetsService.statusSet[status] }}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-6">
    <div class="mb-3">
      <label for="filterIntent" class="form-label text-primary">{{"labelIntentFilter" | translate}}:</label>
      <select (change)="sendFilteredRequest()" id="filterIntent" class="form-control" [(ngModel)]="filters.filterIntent">
        <option value="">{{"showAll" | translate}}</option>
        <option *ngFor="let intent of valueSetsService.getIntentKeys()" [value]="intent">{{ valueSetsService.intentSet[intent] }}
        </option>
      </select>
    </div>
  </div>
</div>

<button class="btn btn-primary mb-3" routerLink="edit">{{"buttonAddMedication" | translate}}</button>

<div *ngIf="medications.length <= 0" class="d-flex justify-content-center mt-5">
  <p class="text-center">{{"noMedications" | translate}}</p>
</div>

<div class="table-responsive">
  <table class="table table-hover table-bordered" *ngIf="medications.length > 0" >
    <thead>
    <tr>
      <ng-container *ngFor="let header of tableHeaders">
        <th class="cursor-pointer bg-light" scope="col" (click)="sort(header.sortKey)">
          {{ header.label }}
          <ng-container *ngIf="sortKey === header.sortKey">
            <span *ngIf="sortDirection === 1" class="arrow">▲</span>
            <span *ngIf="sortDirection === -1" class="arrow">▼</span>
          </ng-container>
        </th>
      </ng-container>
      <th class="bg-light">{{"modify" | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let medication of medications; let i = index">
      <td>
        {{ medication?.medicationCodeableConcept?.coding?.[0]?.display }}
      </td>
      <td>
        {{medication?.medicationCodeableConcept?.coding?.[0]?.code}}
      </td>
      <td>
        {{medication?.status}}
      </td>
      <td>
        {{medication?.intent}}
      </td>
      <td>
        {{medication?.dosageInstruction?.[0]?.text || "--"}}
      </td>
      <td>
        {{(medication?.dosageInstruction?.[0]?.timing?.repeat?.boundsPeriod?.start | date:'medium':'UTC') || "--"}}
      </td>
      <td>
        {{(medication?.dosageInstruction?.[0]?.timing?.repeat?.boundsPeriod?.end | date:'medium':'UTC') || "--"}}
      </td>
      <td>
        {{medication?.dosageInstruction?.[0]?.doseAndRate?.[0]?.doseQuantity?.value || "--"}}
      </td>
      <td>
        {{medication?.dosageInstruction?.[0]?.doseAndRate?.[0]?.doseQuantity?.unit || "--"}}
      </td>
      <td>
        {{medication?.dosageInstruction?.[0]?.timing?.repeat?.frequency || "--"}}
      </td>
      <td>
        {{getWhenToUse(medication)}}
      </td>
      <td>
        {{medication?.dosageInstruction?.[0]?.timing?.repeat?.period || "--"}}
      </td>
      <td>
        {{medication?.dosageInstruction?.[0]?.timing?.repeat?.periodUnit || "--"}}
      </td>
      <td>
        {{medication?.requester?.display || "--"}}
      </td>
      <td>
        {{(medication?.authoredOn | date:'medium':'UTC') || "--"}}
      </td>

      <td>
      <span class="edit">
        <button type="button" class="btn btn-success btn-sm" [routerLink] = "['edit', medication.id]">
          {{"buttonEdit" | translate}}
        </button>
      </span>
        <span class="delete">
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteMedicationRequest(medication, i)">
          {{"buttonDelete" | translate}}
        </button>
      </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center mt-3" *ngIf="medications.length > 0">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link"  (click)="goToPage(currentPage - 1)">{{"buttonPrevious" | translate}} </a>
    </li>
    <span class="page-info mx-3">
        {{"labelPaging" | translate}} {{ currentPage }} / {{ totalPages }}
    </span>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="goToPage(currentPage + 1)">{{"buttonNext" | translate}} </a>
    </li>
  </ul>
</div>


