<div class="d-flex align-items-center justify-content-between mb-3 mt-3">
  <h4>{{"patient" | translate}}: {{patientName}}</h4>
  <div class="language-container">
    <select id="languageSelect" class="form-select" [(ngModel)]="currentLanguage" (change)="onLanguageChange()">
      <option *ngFor="let option of languageOptions" [value]="option.language">{{ option.display }}</option>
    </select>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-4 add-condition">
    <div class="card-body">
      <form [formGroup]="conditionForm" (ngSubmit)="onSubmit()">
        <div class="border mb-3 p-3">
          <div class="mb-3">
            {{"categoryDisplay" | translate}}:
            <input class="form-control" type="text" formControlName="categoryDisplay"
                   [(ngModel)]="categoryDisplay" />
            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['categoryDisplay'].invalid">
              {{"pleaseFillIn" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            {{"categoryCode" | translate}}:
            <input class="form-control" type="text" formControlName="categoryCode"
                   [(ngModel)]="categoryCode" />
            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['categoryCode'].invalid">
              {{"pleaseFillIn" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            System (URL):
            <input class="form-control" type="text" formControlName="categorySystem"
                   [(ngModel)]="categorySystem" />
            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['categorySystem'].invalid">
              {{"pleaseFillIn" | translate}}.
            </div>
          </div>
        </div>

        <div class="border mb-3 p-3">
          <div class="mb-3 search-container">
            {{"conditionDisplay" | translate}}:
            <input class="form-control" type="text" formControlName="conditionDisplay"
                   [(ngModel)]="conditionDisplay" (focus)="initializeFilterList()"
                   (blur)="closeConditionFilterMode()" (input)="onSearchChange()"/>

            <ul *ngIf="filterList.length > 0 && conditionFilterMode" class="dropdown-list scrollable-container">
              <li *ngFor="let condition of filterList" (mousedown)="selectValue(condition.display, condition.code, condition.system)">
                <p>{{ condition.display }}</p>
              </li>
            </ul>
            <!-- error -->
            <div
              class="text-danger"
              *ngIf="submitted && myForm['conditionDisplay'].invalid"
            >
              {{"pleaseFillIn" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            {{"conditionCode" | translate}}:
            <input class="form-control read-only-input" type="text" [readonly]="true" formControlName="conditionCode"
                   [(ngModel)]="conditionCode" />
            <!-- error -->
            <div
              class="text-danger"
              *ngIf="submitted && myForm['conditionCode'].invalid"
            >
              {{"pleaseFillIn" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            System (URL):
            <input class="form-control read-only-input" type="text" [readonly]="true" formControlName="conditionSystem"
                   [(ngModel)]="conditionSystem"/>
            <!-- error -->
            <div
              class="text-danger"
              *ngIf="submitted && myForm['conditionSystem'].invalid"
            >
              {{"pleaseFillIn" | translate}}.
            </div>
          </div>
        </div>

        <div class="border mb-3 p-3">
          <div class="mb-3">
            {{"clinicalStatus" | translate}}:
            <select class="form-control" formControlName="clinicalStatus" [(ngModel)]="clinicalStatus">
              <option value="">{{"selectClinicalStatus" | translate}}</option>
              <option *ngFor="let status of valueSetsService.getClinicalStatusKeys()" [value]="status">
                {{ valueSetsService.clinicalStatusSet[status] }}
              </option>
            </select>
            <!-- error -->
            <div class="text-danger" *ngIf="submitted && myForm['clinicalStatus'].invalid">
              {{"pleaseFillIn" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            {{"clinicalStatusSystem" | translate}}:
            <input class="form-control" type="text" formControlName="clinicalStatusSystem"
                   [(ngModel)]="clinicalStatusSystem"/>
            <!-- error -->
            <div class="text-danger" *ngIf="submitted && myForm['clinicalStatusSystem'].invalid">
              {{"pleaseFillIn" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            {{"verificationStatus" | translate}}:
            <select class="form-control" formControlName="verificationStatus" [(ngModel)]="verificationStatus">
              <option value="">{{"selectVerificationStatus" | translate}}</option>
              <option *ngFor="let status of valueSetsService.getVerificationStatusKeys()" [value]="status">
                {{ valueSetsService.verificationStatusSet[status] }}
              </option>
            </select>
            <!-- error -->
            <div class="text-danger" *ngIf="submitted && myForm['verificationStatus'].invalid">
              {{"pleaseFillIn" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            {{"verificationStatusSystem" | translate}}:
            <input class="form-control" type="text" formControlName="verificationStatusSystem"
                   [(ngModel)]="verificationStatusSystem"/>
            <!-- error -->
            <div class="text-danger" *ngIf="submitted && myForm['verificationStatusSystem'].invalid">
              {{"pleaseFillIn" | translate}}.
            </div>
          </div>
        </div>

        <div class="border mb-3 p-3">
          <div class="mb-3">
            {{"onsetDateTime" | translate}}:
            <input type="datetime-local"  class="form-control" formControlName="onSetDateTime"
                   [(ngModel)]="onSetDateTime"/>

            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['onSetDateTime'].invalid">
              {{"pleaseFillIn" | translate}}.
            </div>
          </div>
        </div>

        <!--Submit Button-->
        <div class="d-grid">
          <button class="btn btn-primary btn-block" type="submit">
            {{"send" | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


