<h4 class="display-4">Patients</h4>
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let patient of patients">
    <td>{{patient.id}}</td>
    <td>
      <ng-container *ngFor="let name of patient.name">
        {{name.given}} {{name.family}}
      </ng-container>
    </td>
    <td>
      <button class="btn btn-primary" [routerLink]="'/patient/' + patient.id">Edit</button>
    </td>
  </tr>
  </tbody>
</table>


<div class="d-flex justify-content-center align-items-center mt-4" *ngIf="totalPageNumber === 0">
  <strong>NO PATIENT FOUND </strong>
</div>


<div *ngIf="totalPageNumber!==0" class="page-changer">
  <button class="page-button" (click)="changePage(currentPage-1)" [disabled]="currentPage === 1"> &lt;&lt;Previous</button>
  <span class="page-info">Page {{ currentPage }} of {{ totalPageNumber }}</span>
  <button class="page-button" (click)="changePage(currentPage+1)" [disabled]="currentPage ===totalPageNumber"> &gt;&gt;Next</button>
</div>