.page-changer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .page-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }
  
  .page-button:hover {
    background-color: #0056b3;
  }
  
  .page-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .page-info {
    font-size: 18px;
    margin: 0 15px;
  }