/* Add custom CSS to encircle target and measure groups */
.target-measure-group {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Add custom CSS to make the "Add Target" button a block display */
.btn-block {
  display: block;
  width: 100%;
  margin: 10px auto;
}

.relative-position {
  position: relative;
}

.dropdown-menu2 {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
}