<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ 'addAppointment' | translate }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="mt-3">{{ 'addAppointment' | translate }}</h1>
    <form [formGroup]="addappointmentForm" (ngSubmit)="onSubmit()">
      <div class="target-measure-group">
        <div class="form-group">
          <label for="appointmentDescription">{{ 'appointmentDescription' | translate }}</label>
          <input type="text" class="form-control" id="appointmentDescription" formControlName="appointmentDescription">
        </div>
        <div class="form-group">
          <label for="appointmentStartDate">{{ 'appointmentStartDate' | translate }}</label>
          <input type="date" class="form-control" id="appointmentStartDate" formControlName="appointmentStartDate">
        </div>
        <div class="form-group">
          <label for="appointmentStartTime">{{ 'appointmentStartTime' | translate }}</label>
          <input type="time" class="form-control" id="appointmentStartTime" formControlName="appointmentStartTime">
        </div>
        <div class="form-group">
          <label for="appointmentEndDate">{{ 'appointmentEndDate' | translate }}</label>
          <input type="date" class="form-control" id="appointmentEndDate" formControlName="appointmentEndDate">
        </div>
        <div class="form-group">
          <label for="appointmentEndTime">{{ 'appointmentEndTime' | translate }}</label>
          <input type="time" class="form-control" id="appointmentEndTime" formControlName="appointmentEndTime">
        </div>
        <!--<div class="form-group">
          <label for="timezoneHours">{{ 'timezoneHours' | translate }}</label>
          <input type="number" class="form-control" id="timezoneHours" formControlName="timezoneHours">
        </div>
        <div class="form-group">
          <label for="timezoneMinutes">{{ 'timezoneMinutes' | translate }}</label>
          <input type="number" class="form-control" id="timezoneMinutes" formControlName="timezoneMinutes">
        </div>         -->     
      <div class="form-group">
        <label for="patientStatus">{{ 'patientStatus' | translate }}</label>
        <select class="form-control" id="patientStatus" formControlName="patientStatus">
          <option value="">{{ 'selectStatus' | translate }}</option>
          <option value="accepted">{{ 'accepted' | translate }}</option>
          <option value="declined">{{ 'declined' | translate }}</option>
          <option value="tentative">{{ 'tentative' | translate }}</option>
          <option value="needs-action">{{ 'needsAction' | translate }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="doctorStatus">{{ 'doctorStatus' | translate }}</label>
        <select class="form-control" id="doctorStatus" formControlName="doctorStatus">
          <option value="">{{ 'selectStatus' | translate }}</option>
          <option value="accepted">{{ 'accepted' | translate }}</option>
          <option value="declined">{{ 'declined' | translate }}</option>
          <option value="tentative">{{ 'tentative' | translate }}</option>
          <option value="needs-action">{{ 'needsAction' | translate }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="appointmentStatus">{{ 'appointmentStatus' | translate }}</label>
        <select class="form-control" id="appointmentStatus" formControlName="appointmentStatus">
          <option value="">{{ 'selectStatus' | translate }}</option>
          <option value="pending">{{ 'pending' | translate }}</option>
          <option value="booked">{{ 'booked' | translate }}</option>
          <option value="arrived">{{ 'arrived' | translate }}</option>
          <option value="fulfilled">{{ 'fulfilled' | translate }}</option>
          <option value="cancelled">{{ 'cancelled' | translate }}</option>
          <option value="noshow">{{ 'noshow' | translate }}</option>
          <option value="entered-in-error">{{ 'enteredInError' | translate }}</option>
          <option value="checked-in">{{ 'checked-in' | translate }}</option>
          <option value="waitlist">{{ 'waitlist' | translate }}</option>
        </select>
      </div>    
    </div>
      <button type="submit" class="btn btn-primary btn-block">{{ updateModeString | translate }}</button>
      <div *ngIf="showSuccessMessage" class="alert alert-success mt-3">
        {{ 'goalSubmittedSuccessfully' | translate}}
      </div>
    </form>    
  </div>
</body>
