<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="onauthService.loggedIn()">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav">
        <!-- Your other navigation items -->
    
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'selectLanguage' | translate }}
          </button>
          <div class="dropdown-content" aria-labelledby="languageDropdown">
            <a class="dropdown-item" (click)="changeLanguage('en')">English</a>
            <a class="dropdown-item" (click)="changeLanguage('fr')">French</a>
            <a class="dropdown-item" (click)="changeLanguage('de')">German</a>
            <a class="dropdown-item" (click)="changeLanguage('tr')">Turkish</a>
            <a class="dropdown-item" (click)="changeLanguage('es')">Spanish</a>
          </div>
        </li>
      </ul>
    

    <ng-container *ngIf="onauthService.userInfo">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="patients" routerLinkActive="active" aria-current="page" href="#">Patients</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link disabled">{{onauthService.userInfo.given_name}} {{onauthService.userInfo.family_name}} ({{onauthService.userInfo.email}})</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>

    </ng-container>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
