<p>Patient: {{patientName}}</p>

<button class="btn btn-primary" routerLink="goals">Goals</button>
<button class="btn btn-primary" routerLink="medication-requests">Medication Requests</button>
<button class="btn btn-primary" routerLink="observation">Observations</button>
<button class="btn btn-primary" routerLink="appointments">Appointments</button>
<button class="btn btn-primary" routerLink="conditions">Conditions</button>
<button class="btn btn-primary" routerLink="familyMemberHistory">Family Member History</button>
