<div class="d-flex align-items-center justify-content-between mb-3">
  <h4 class="display-4">{{"conditions" | translate}}</h4>
  <div class="language-container">
    <select id="languageSelect" class="form-select" [(ngModel)]="currentLanguage" (change)="onLanguageChange()">
      <option *ngFor="let option of languageOptions" [value]="option.language">{{ option.display }}</option>
    </select>
  </div>
</div>

<h4>{{"patient" | translate}}: {{patientName}}</h4>

<div class="mb-3">
  <label for="filterCondition" class="form-label text-primary">
    {{"filterByCondition" | translate}}:
  </label>
  <div class="search-container d-flex align-items-center justify-content-between">
    <input type="text" id="filterCondition" [(ngModel)]="query.conditionDisplay" (focus)="initializeFilterList()"
           (blur)="closeConditionFilterMode()" (input)="onSearchChange()"
           placeholder="{{'noFilter' | translate}}"
           class="form-control">
    <ul *ngIf="filterList.length > 0 && conditionFilterMode" class="dropdown-list scrollable-container">
      <li *ngFor="let condition of filterList" (mousedown)="selectValue(condition.display, condition.code)">
        <p>{{ condition.display }}</p>
      </li>
    </ul>
    <!-- no result -->
    <p *ngIf="filterList.length === 0 && conditionFilterMode && query.conditionDisplay.trim() !== ''" class="no-results">
      {{"noResultsFound" | translate}}.
    </p>
    <button type="button" class="btn btn-primary" (click)="applyConditionFilter()">
      {{"filter" | translate}}
    </button>
    <button type="button" class="btn btn-primary" (click)="clearConditionFilter()">
      {{"clear" | translate}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="filterClinicalStatus" class="form-label text-primary">
        {{"filterByClinicalStatus" | translate}}:
      </label>
      <select (change)="sendFilteredRequest()" id="filterClinicalStatus" class="form-control" [(ngModel)]="filters.clinicalStatus">
        <option value="">{{"showAll" | translate}}</option>
        <option *ngFor="let status of valueSetsService.getClinicalStatusKeys()" [value]="status">
          {{ valueSetsService.clinicalStatusSet[status] }}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-6">
    <div class="mb-3">
      <label for="filterVerificationStatus" class="form-label text-primary">
        {{"filterByVerificationStatus" | translate}}:
      </label>
      <select (change)="sendFilteredRequest()" id="filterVerificationStatus" class="form-control" [(ngModel)]="filters.verificationStatus">
        <option value="">{{"showAll" | translate}}</option>
        <option *ngFor="let intent of valueSetsService.getVerificationStatusKeys()" [value]="intent">
          {{ valueSetsService.verificationStatusSet[intent] }}
        </option>
      </select>
    </div>
  </div>
</div>

<button class="btn btn-primary mb-3" routerLink="edit">
  {{"addNewCondition" | translate}}
</button>

<div *ngIf="conditions.length <= 0" class="d-flex justify-content-center mt-5">
  <p class="text-center">{{"noConditionsToShow" | translate}}</p>
</div>

<div *ngIf="conditions.length > 0">
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <ng-container *ngFor="let header of tableHeaders">
          <th class="cursor-pointer bg-light" scope="col" (click)="sort(header.key)">
            <ng-container>
              {{ header.label }}
              <ng-container *ngIf="sortKey === header.key">
                <span *ngIf="sortDirection === 1" class="arrow">▲</span>
                <span *ngIf="sortDirection === -1" class="arrow">▼</span>
              </ng-container>
            </ng-container>
          </th>
        </ng-container>
        <th class="bg-light">{{"modify" | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let condition of conditions; let i = index">
        <td>
          {{condition?.category?.[0]?.coding?.[0]?.display || "--"}}
        </td>
        <td>
          {{condition?.code?.coding?.[0]?.display || "--"}}
        </td>
        <td>
          {{condition?.code?.coding?.[0]?.code || "--"}}
        </td>
        <td>
          {{condition?.clinicalStatus?.coding?.[0]?.code || "--"}}
        </td>
        <td>
          {{condition?.verificationStatus?.coding?.[0]?.code || "--"}}
        </td>
        <td>
          {{(condition?.onsetDateTime | date: "medium" : "UTC") || "--"}}
        </td>
        <td>
            {{(condition?.recordedDate | date: "mediumDate") || "--"}}
        </td>
        <td>
        <span class="edit">
          <button type="button" class="btn btn-success btn-sm" [routerLink] = "['edit', condition.id]">
            {{"edit" | translate}}
          </button>
        </span>
          <span class="delete">
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteCondition(condition, i)">
            {{"delete" | translate}}
          </button>
        </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link"  (click)="goToPage(currentPage - 1)">
          {{"previous" | translate}}
        </a>
      </li>
      <span class="page-info mx-3">
        {{"page" | translate}} {{ currentPage }} / {{ totalPages }}
    </span>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="goToPage(currentPage + 1)">
          {{"next" | translate}}
        </a>
      </li>
    </ul>
  </div>

</div>

