<div class="d-flex align-items-center justify-content-between mb-3 mt-3">
  <h4>{{"labelPatient" | translate}}: {{patientName}}</h4>
  <div class="language-container">
    <select id="languageSelect" class="form-select" [(ngModel)]="currentLanguage" (change)="onLanguageChange()">
      <option *ngFor="let option of languageOptions" [value]="option.language">{{ option.display }}</option>
    </select>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-4 add-medication">
    <div class="card-body" >
      <form [formGroup]="medicationForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 search-container">
          {{"medicationName" | translate}}: <span class="text-danger">*</span>
          <input class="form-control" type="text" formControlName="medicationName"
                 [(ngModel)]="medicationName" (focus)="initializeFilterList()"
                 (blur)="closeMedicationFilterMode()" (input)="onSearchChange()"/>

          <ul *ngIf="filterList.length > 0 && medicationFilterMode" class="dropdown-list scrollable-container">
            <li *ngFor="let medication of filterList" (mousedown)="selectValue(medication.display, medication.code, medication.system)">
              <p>{{ medication.display }}</p>
            </li>
          </ul>
          <!-- error -->
          <div
            class="text-danger"
            *ngIf="submitted && myForm['medicationName'].errors?.['required']"
          >
            {{"formError" | translate}}.
          </div>
        </div>

        <div class="mb-3">
          {{"code" | translate}}: <span class="text-danger">*</span>
          <input class="form-control read-only-input" type="text" [readonly]="true" formControlName="code" [(ngModel)]="code" />
          <!-- error -->
          <div
            class="text-danger"
            *ngIf="submitted && myForm['code'].errors?.['required']"
          >
            {{"formError" | translate}}.
          </div>
        </div>

        <div class="mb-3">
          System (URL): <span class="text-danger">*</span>
          <input class="form-control read-only-input" type="text" [readonly]="true" formControlName="system" [(ngModel)]="system"/>
          <!-- error -->
          <div
            class="text-danger"
            *ngIf="submitted && myForm['system'].errors?.['required']"
          >
            {{"formError" | translate}}.
          </div>
        </div>

        <div class="mb-3">
          {{"status" | translate}}: <span class="text-danger">*</span>
          <select class="form-control" formControlName="status" [(ngModel)]="status">
            <option value="">{{"selectStatus" | translate}}</option>
            <option *ngFor="let status of valueSetsService.getStatusKeys()" [value]="status">
              {{ valueSetsService.statusSet[status] }}
            </option>
          </select>
          <!-- error -->
          <div class="text-danger" *ngIf="submitted && myForm['status'].errors?.['required']">
            {{"formError" | translate}}.
          </div>
        </div>

        <div class="mb-3">
          {{"intent" | translate}}: <span class="text-danger">*</span>
          <select class="form-control" formControlName="intent" [(ngModel)]="intent">
            <option value="">{{"selectIntent" | translate}}</option>
            <option *ngFor="let intent of valueSetsService.getIntentKeys()" [value]="intent">
              {{ valueSetsService.intentSet[intent] }}
            </option>
          </select>
          <!-- error -->
          <div
            class="text-danger"
            *ngIf="submitted && myForm['intent'].errors?.['required']"
          >
            {{"formError" | translate}}.
          </div>
        </div>

        <div class="mb-3">
            <button type="button" class="btn btn-primary" (click)="toggleDosageInfo()">
              {{ addDosageInfo ? ("removeDosageInfo" | translate)
              : ("addDosageInfo" | translate) }}
            </button>
        </div>

        <div *ngIf="addDosageInfo">
          <div class="mb-3">
            {{"instruction" | translate}}:
            <input class="form-control" type="text" formControlName="text" [required]="addDosageInfo"
                   [(ngModel)]="text" />
            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['text'].invalid">
              {{"formError" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            {{"startDate" | translate}}:
            <input type="datetime-local"  class="form-control" formControlName="startDate" [required]="addDosageInfo"
                   [(ngModel)]="startDate"/>

            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['startDate'].invalid">
              {{"formError" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            {{"endDate" | translate}}:
            <input type="datetime-local"  class="form-control" formControlName="endDate" [required]="addDosageInfo"
                   [(ngModel)]="endDate"/>

            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['endDate'].invalid">
              {{"formError" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            {{"frequency" | translate}}:
            <input type="number" class="form-control" formControlName="frequency"
                    (change)="multipleElementsHelper()" [required]="addDosageInfo"
                   [(ngModel)]="frequency"/>

            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['frequency'].invalid">
              {{"formError" | translate}}.
            </div>
          </div>

          <div class="mb-3" *ngIf="frequency > 1 && periodUnit==='wk'">
            {{"specifyTheDay" | translate}}
            <div class="mb-3" *ngFor="let element of multipleElementsArray(frequency); let i=index">
              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="multipleElements[i]"
                      [required]="addDosageInfo && frequency > 1">
                <option value="">{{"dosage" | translate}} {{(i+1)}}</option>
                <option value="mon">{{"mon" | translate}}</option>
                <option value="tue">{{"tue" | translate}}</option>
                <option value="wed">{{"wed" | translate}}</option>
                <option value="thu">{{"thu" | translate}}</option>
                <option value="fri">{{"fri" | translate}}</option>
                <option value="sat">{{"sat" | translate}}</option>
                <option value="sun">{{"sun" | translate}}</option>
              </select>

              <!-- error -->
              <div class="text-danger" *ngIf="submitted && multipleElements[i] === ''">
                {{"formError" | translate}}.
              </div>
            </div>
          </div>

          <div *ngIf="frequency > 1 && periodUnit==='d'">
            <div class="mb-3">
              {{"radioHour" | translate}}:
              <input type="radio" [checked]="hourOrWhen" (click)="changeHourOrWhen(true)" > <br>
              {{"radioTime" | translate}}:
              <input type="radio" [checked]="!hourOrWhen" (click)="changeHourOrWhen(false)"> <br>
            </div>

            <div class="mb-3" *ngIf="hourOrWhen">
              {{"specifyTheHour" | translate}}
              <div class="mb-3"  *ngFor="let element of multipleElementsArray(frequency); let i = index;">
                <input type="time" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="multipleElements[i]"
                       [required]="addDosageInfo && frequency > 1"/>

                <!-- error -->
                <div class="text-danger" *ngIf="submitted && multipleElements[i] === ''">
                  {{"formError" | translate}}.
                </div>
              </div>
            </div>

            <div class="mb-3" *ngIf="!hourOrWhen">
              {{"specifyTheTime" | translate}}
              <div class="mb-3" *ngFor="let element of multipleElementsArray(frequency); let i=index">
                <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="multipleElements[i]"
                        [required]="addDosageInfo && frequency > 1">
                  <option value="">{{"dosage" | translate}} {{i+1}}</option>
                  <option *ngFor="let when of valueSetsService.getWhenKeys()" [value]="when">
                    {{ valueSetsService.whenSet[when] }}
                  </option>
                </select>

                <!-- error -->
                <div class="text-danger" *ngIf="submitted && multipleElements[i] === ''">
                  {{"formError" | translate}}.
                </div>
              </div>
            </div>

          </div>

          <div class="mb-3">
            {{"period" | translate}}:
            <input type="number" class="form-control" formControlName="period" [required]="addDosageInfo"
                   [(ngModel)]="period"/>

            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['period'].invalid">
              {{"formError" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            {{"periodUnit" | translate}}:
            <select class="form-control" formControlName="periodUnit" [(ngModel)]="periodUnit" [required]="addDosageInfo">
              <option value="">{{"selectPeriodUnit" | translate}}</option>
              <option value="d">{{"day" | translate}}</option>
              <option value="wk">{{"week" | translate}}</option>
            </select>
            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['periodUnit'].invalid">
              {{"formError" | translate}}.
            </div>
          </div>
        </div>

        <div class="mb-3" *ngIf="addDosageInfo">
          <button type="button" class="btn btn-primary" (click)="toggleDosageQuantity()">
            {{ addDosageQuantity ? ("removeDosageQuantity"  | translate)
            : ("addDosageQuantity" | translate)}}
          </button>
        </div>

        <div *ngIf="addDosageQuantity && addDosageInfo">
          <div class="mb-3">
            {{"quantityValue" | translate}}:
            <input type="number" class="form-control" formControlName="quantityValue" [required]="addDosageQuantity"
                   [(ngModel)]="quantityValue"/>
            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['quantityValue'].invalid">
              {{"formError" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            {{"quantityUnit" | translate}}:
            <select class="form-control" formControlName="quantityUnit" [required]="addDosageQuantity"
                    [(ngModel)]="quantityUnit">
              <option value="">{{"selectQuantityUnit" | translate}}</option>
              <option value="milligram">Milligram</option>
              <option value="gram">Gram</option>
            </select>
            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['quantityUnit'].invalid">
              {{"formError" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            {{"pureCode" | translate}}:
            <input type="text" class="form-control" formControlName="quantityCode" [required]="addDosageQuantity"
                   [(ngModel)]="quantityCode"/>
            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['quantityCode'].invalid">
              {{"formError" | translate}}.
            </div>
          </div>

          <div class="mb-3">
            System (URL):
            <input type="text" class="form-control" formControlName="quantitySystem" [required]="addDosageQuantity"
                   [(ngModel)]="quantitySystem"/>
            <!--error-->
            <div class="text-danger" *ngIf="submitted && myForm['quantitySystem'].invalid">
              {{"formError" | translate}}.
            </div>
          </div>
        </div>

        <!--Submit Button-->
        <div class="d-grid">
          <button class="btn btn-primary btn-block" type="submit">
            {{"buttonSend" | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

