<div class="row justify-content-center">
    <div class="col-md-4 register-user">
      <!-- form card register -->
      <div class="card-body">
        <form [formGroup]="fmhForm" (ngSubmit)="onSubmit()">
        
          <div class="mb-3">
            <label for="inputSubjectReference"> <strong>{{ 'patientReference' | translate }}</strong> </label>
            <input class="form-control" type="text" formControlName="patientReference" [disabled]="true" />
          </div>
  
          <div class="mb-3">
            <label for="inputSubjectDisplay"> <strong>{{ 'patientDisplay' | translate }}</strong> </label>
            <input class="form-control" type="text" formControlName="patientDisplay" [disabled]="true"  />
          </div>
  
          <div *ngIf="isEdit" class="mb-3">
            <label for="inputObservationDisplay"> <strong>FMH</strong></label>
            <input class="form-control" type="text" formControlName="fhmID" [disabled]="true"  />
          </div>
  
          <div class="mb-3">
                <label for="inputStatus"><strong>{{ 'statusRequired' | translate }}</strong></label>
                <select class="form-control" formControlName="status">
                    <option value="partial">Partial</option>
                    <option value="completed">Completed</option>
                    <option value="entered-in-error">Entered-in-error</option>
                    <option value="health-unknown">Health-unknown</option>
                </select>
                <!-- error -->
                <div
                  class="text-danger"
                  *ngIf="submitted && myForm['status'].errors?.['required']"
                >
                  {{ 'statusISRequired' | translate}}
                </div>
          </div>
  
          <div class="mb-3">
            <label for="inputCode"></label>
            <div>
              <div class="mb-3 search-container">
                <label for="codeFilter" class="mb-0 align-self-center" style="width: 120px;"><strong>{{ 'condition' | translate }}</strong></label>
                <input type="text" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" (input)="onSearchChange()" (click)="onSearchBoxClick()" (blur)="clearSearch()" placeholder="Search For Condition">
                
                <ul *ngIf="showResults && filterList.length > 0" class="dropdown-list scrollable-container code-filter-results">
                  <ng-container *ngFor="let observation of filterList">
                    <ng-container *ngFor="let temp of observation.resource.compose.include">
                      <ng-container *ngFor="let concept of observation.resource.compose.include[0].concept">
                        <li (mousedown)="selectValue(getConceptValue(concept), concept.code, temp.system, $event)">
                          <p><strong>Display:</strong> {{ getConceptValue(concept) }}</p>
                          <p><strong>Code:</strong> {{ concept.code }}</p>
                        </li>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ul>

              </div>
              
            </div>
        </div>

        <div class="mb-3">
            <div>
              <div class="mb-3">
                <label for="selectRelationshipDisplay"><strong>{{ 'selRelationship' | translate }}</strong></label>

                <select class="form-control" id="selectRelationshipDisplay" formControlName="relationshipDisplay" (change)="onRelationshipDisplaySelected($event)">
                  <option [value]="null">{{ 'selRelationshipDisp' | translate }}</option>
                  <option *ngFor="let relationship of familyList" [value]="relationship.display[translate.currentLang]">{{ relationship.display[translate.currentLang] }}</option>
                </select>

                <label for="inputInterpretationSystem"><strong>{{ 'selRelationshipCode' | translate }}</strong></label>
                <input class="form-control" type="text" formControlName="relationshipCode" />

                <label for="inputInterpretationDisplay"><strong>{{ 'selRelationshipSystem' | translate }}</strong></label>
                <input class="form-control" type="text" formControlName="relationshipSystem" />
              </div>
            </div>
          </div>
        
    
        <div style="margin-top: 30px;"></div>
        

        <div *ngIf="!isEdit" class="d-grid">
          <button class="btn btn-primary btn-block" type="button" (click)="onSubmit()">
            {{ 'addFMH' | translate }}
          </button>
        </div>

        <div *ngIf="isEdit" class="d-grid">
          <button class="btn btn-primary btn-block" type="button" (click)="onSubmit()">
            {{ 'updFMH' | translate }}
          </button>
        </div>
  
        </form>
      </div>
    </div>
    <!-- form card register -->
  </div>
  